<form id="create-review" method="POST" action="/reviews/" enctype="multipart/form-data">
    <p>Manually enter your coordinates or click on map to have coordinates entered in form.</p>
    <p><label>Title: <input type="text" required name="title"></label></p>
    <p><label for="location_name">Location Area:
        <select id="location_name" name="location_name" required>
            <option value="" disabled selected>Select location</option>
            <option value="Science Center">Science Center</option>
            <option value="Lulu">Lulu</option>
            <option value="Clapp">Clapp</option>
            <option value="Bates">Bates</option>
            <option value="Freeman">Freeman</option>
            <option value="McAfee">McAfee</option>
            <option value="Stone Davis">Stone Davis</option>
            <option value="Caz">Caz</option>
            <option value="Pom">Pom</option>
            <option value="Shafer">Shafer</option>
            <option value="Beebe">Beebe</option>
            <option value="Tower">Tower</option>
            <option value="Claflin">Claflin</option>
            <option value="Academic Quad">Academic Quad</option>
            <option value="Munger">Munger</option>
            <option value="Sev">Sev</option>
            <option value="Lake House">Lake House</option>
            <option value="Casa Cervantes">Casa Cervantes</option>
            <option value="French House">French House</option>
            <option value="Lake Waban">Lake Waban</option>
            <option value="Other">Other</option>
        </select>
    </label></p>
    <p><label for="review">Review:<br><textarea id="review" cols="50" rows="10" required name="review"></textarea></label></p>
    <p><label>
        X Coordinates: <input class="numbers" type="number" required name="x_coordinates" step="any"> 
        Y Coordinates: <input class="numbers" type="number" required name="y_coordinates" step="any">
    </label></p>
    <p><label for="tags">Tags:
    <select id="tags" name="tags" multiple required>
        <option value="noisy">loud</option>
        <option value="quiet">quiet</option>
        <option value="empty">empty</option>
        <option value="busy">busy</option>
        <option value="clean">clean</option>
        <option value="natural light">natural light</option>
    </select>
    </label></p>
    <p><label>Rating:
        <span class="stars">
            <input type="radio" id="star5" name="rating" value="5" required/>
            <label for="star5" title="5 stars">&#9733;</label>
            <input type="radio" id="star4" name="rating" value="4"/>
            <label for="star4" title="4 stars">&#9733;</label>
            <input type="radio" id="star3" name="rating" value="3"/>
            <label for="star3" title="3 stars">&#9733;</label>
            <input type="radio" id="star2" name="rating" value="2"/>
            <label for="star2" title="2 stars">&#9733;</label>
            <input type="radio" id="star1" name="rating" value="1"/>
            <label for="star1" title="1 star">&#9733;</label>
        </span>
        </label>
    </p>
    <p><label>Photo of Location (max. 5 MB): <input type="file" accept="image/*" name="photo"></label></p>
    <p><label>Caption: <input type="text" name="photo_caption"></label></p>
    <p><input type="submit" value="Submit"></p>
</form>