<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Review Creation</title>
    <meta name="author" content="Gloria">
    <link rel="stylesheet" href="/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <form class="create_review" method="POST" action="/review/">
        <h1>Create Review</h1>
        <p>Manually enter your coordinates or click on map to have coordinates entered in form.</p>
        <p><label>Title: <input type="text" required name="title"></label></p>
        <p><label>Location Name: <input type="text" required name="location_name"></label></p>
        <p><label>Review:<br><textarea cols="40" rows="10" required name="review"></textarea></label></p>
        <p><label>
            X Coordinates: <input class="numbers" type="number" required name="x_coordinates" step="any"> 
            Y Coordinates: <input class="numbers" type="number" required name="y_coordinates" step="any">
        </label></p>
        <p><label for="tags">Tags:</label></p>
        <select name="tags" multiple>
            <option value="noisy">loud</option>
            <option value="quiet">quiet</option>
            <option value="empty">empty</option>
            <option value="empty">busy</option>
            <option value="empty">clean</option>
            <option value="empty">natural light</option>
        </select>
        </label>
        <p><label>Rating:
            <span class="stars">
                <input type="radio" id="star5" name="rating" value="5" required/>
                <label for="star5" title="5 stars">&#9733;</label>
                <input type="radio" id="star4" name="rating" value="4"/>
                <label for="star4" title="4 stars">&#9733;</label>
                <input type="radio" id="star3" name="rating" value="3"/>
                <label for="star3" title="3 stars">&#9733;</label>
                <input type="radio" id="star2" name="rating" value="2"/>
                <label for="star2" title="2 stars">&#9733;</label>
                <input type="radio" id="star1" name="rating" value="1"/>
                <label for="star1" title="1 star">&#9733;</label>
            </span>
            </label>
        </p>
        <input type="button" value="Add Photo">
        <input type="submit" value="Submit"></p>
    </form>
</body>
</html>
