<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wellesley Spots</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include ('navbar') %>
    <main>
        <h1>Welcome to Wellesley Spots</h1>
        <p>Discover the best spots on campus! Explore reviews, share your own experiences, and find your new favorite place.</p>
     </main>
    </main>
</body>
</html>
