<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Reviews</title>
    <link rel="stylesheet" href="/style.css">
    <meta name="author" content="Gloria">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
</head>
<body>
    <%- include ('navbar') %>
    <h1>Explore Reviews</h1>
    <div class="reviews">
        <div id="map"
            style="
            width: 900px;
            height: 915px;
            border-radius: 20px;">
        </div>
        <div>
            <div id="create_section">
                <%- include('create') %>
            </div>
        </div>
    </div>
    <script id="reviews_data" type="application/json">
        <%- JSON.stringify(reviews) %>
    </script>
    <script src="/reviews.js" defer></script>
</body>
</html>
