<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Review Search</title>
    <meta name="author" content="Gloria">
    <link rel="stylesheet" href="/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <form class="filter_reviews" method="GET" action="/search">
        <h1>Filter Reviews</h1>
        <p>Enter at least one field to search.</p>
        <p><label>Location: <input type="text" name="location"></label></p>
        <p><label>Rating: <input type="text" name="rating"></label></p>
        <p><label for="filter_tags">Tags:</label></p>
        <select name="filter_tags" multiple>
            <option value="noisy">loud</option>
            <option value="quiet">quiet</option>
            <option value="empty">empty</option>
            <option value="busy">busy</option>
            <option value="clean">clean</option>
            <option value="natural light">natural light</option>
        </select>
        </label>
        <input type="submit" value="Search"></p>
    </form>
</body>
</html>
