<form onsubmit="return !!(this.location.value || this.rating.value.trim() || this.filter_tags.selectedOptions.length)" id="filter-reviews" method="GET" action="/search">
    <p>Enter at least one field to search.</p>
    <p><label>Location Area: <select name="location">
    <option value="">Select Location</option>

    <% locations.forEach(location => { %>
      <option value="<%= location %>"><%= location %></option>
    <% }) %>

  </select></label></p>
    <p><label>Rating: <input class="numbers" type="number" name="rating" step="1" min="1" max="5"></label></p>
    <p><label for="filter_tags">Tags:</label></p>
        <select id="filter_tags" name="filter_tags" multiple>
            <option value="noisy">loud</option>
            <option value="quiet">quiet</option>
            <option value="empty">empty</option>
            <option value="busy">busy</option>
            <option value="clean">clean</option>
            <option value="natural light">natural light</option>
        </select>
    <p><input type="submit" value="Search"></p>
</form>
