<form onsubmit="return !!(this.location.value || this.rating.value.trim() || this.filter_tags.selectedOptions.length)" class="filter-reviews" method="GET" action="/search">
    <p>Enter at least one field to search.</p>
    <p><label>Location: <input type="text" name="location"></label></p>
    <p><label>Rating: <input type="text" name="rating"></label></p>
    <p><label for="filter_tags">Tags:</label></p>
        <select name="filter_tags" multiple>
            <option value="noisy">loud</option>
            <option value="quiet">quiet</option>
            <option value="empty">empty</option>
            <option value="busy">busy</option>
            <option value="clean">clean</option>
            <option value="natural light">natural light</option>
        </select>
    <input type="submit" value="Search"></p>
</form>
