<form onsubmit="return !!(this.title.value || this.review.value || this.rating.value.trim() || this.location_name.value !== '' || this.tags.selectedOptions.length)" method="POST" action="/review/<%= review.rr %>/update">
    <p>Enter at least one change in any field to update your review.</p>
    <p><label>Title: <input type="text" placeholder="<%= review.title %>" name="title"></label></p>
    <p><label>Location Area:
        <select name="location_name">
            <option value="" disabled selected>Select location</option>
            <option value="Science Center">Science Center</option>
            <option value="Lulu">Lulu</option>
            <option value="Clapp">Clapp</option>
            <option value="Bates">Bates</option>
            <option value="Freeman">Freeman</option>
            <option value="McAfee">McAfee</option>
            <option value="Stone Davis">Stone Davis</option>
            <option value="Caz">Caz</option>
            <option value="Pom">Pom</option>
            <option value="Shafer">Shafer</option>
            <option value="Beebe">Beebe</option>
            <option value="Tower">Tower</option>
            <option value="Claflin">Claflin</option>
            <option value="Academic Quad">Academic Quad</option>
            <option value="Munger">Munger</option>
            <option value="Sev">Sev</option>
            <option value="Lake House">Lake House</option>
            <option value="Casa Cervantes">Casa Cervantes</option>
            <option value="French House">French House</option>
            <option value="Lake Waban">Lake Waban</option>
            <option value="Other">Other</option>
        </select>
    </label></p>
    <p><label>Review:<br><textarea placeholder="<%= review.review %>" cols="50" rows="10" name="review"></textarea></label></p>
    <p><label for="tags">Tags:</label></p>
    <select name="tags" multiple>
        <option value="noisy">loud</option>
        <option value="quiet">quiet</option>
        <option value="empty">empty</option>
        <option value="busy">busy</option>
        <option value="clean">clean</option>
        <option value="natural light">natural light</option>
    </select>
    </label>
    <p><label>Rating:
            <input class="numbers" type="number" placeholder="<%= review.rating %>" name="rating" step="1" min="1" max="5">
        </label>
    </p>
    <input type="button" value="Add New Photo">
    <p><button type="submit" class="save-changes-button">Save Changes</button>
    <button class="cancel-changes-button">Cancel</button></p>
</form>