HTML {
    --color-green: #69961b;
    --color-green-dark: #205600;
    --color-green-light: #eaffd1;
    --color-green-link: #dafdad;
	--color-orange: #ff9900;
	--color-orange-dark: #e68a00;
	--color-red: #cd3333;
	--color-red-dark: #a01818;
    --font-family: Helvetica;
    font-family: var(--font-family)
}

body {
	margin: 1em;
	color: #222222;
}

h1, h3 {
    color: var(--color-green-dark);
}

h2 {
    color: var(--color-green);
}

button {
	border-radius: 10px;
    background-color: var(--color-orange);
    color: white;
	margin-top: .5em;
	padding: .5em;
    border: none;
}

button:hover {
	background-color: var(--color-orange-dark);
}

/* navbar */
.navbar {
	background-color: var(--color-green);
	padding: .25em;
	border-radius: 10px;
}

.nav-menu li {
	display: inline-block;
	margin-right: 15px;
}

.nav-menu a, #logout-button {
	background-color: var(--color-green);
	color: white;
	padding: .25em;
	border-radius: 10px;
	text-decoration: none;
}

.nav-menu a:hover, #logout-button:hover {
	background-color: var(--color-green-dark);
}

.logout-form {
  display: inline;
  margin: 0;
  padding: 0;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.nav-menu .dropdown-reviews {
  background-color: var(--color-green);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--color-green);
  padding: .25em;
}

.dropdown-content a {
  display: block;
}

.dropdown-content a:hover {
	background-color: var(--color-green-dark);
}

.dropdown:hover .dropdown-content {
	display: block;
	border-radius: 10px;
	width: 150px;
}

.dropdown:hover .dropdown-reviews {
	background-color: var(--color-green-dark);
}


/* signup, login, logout, profile */
.signup-container,
.profile-container {
	margin-top: 15px;
	padding: 15px;
	border: 1px solid #dddddd;
	background-color: #fafafa;
}

.signup-container {
	float: left;
	width: 45%;
	margin-right: 3%;
}

.signup-container:last-child {
	margin-right: 0;
}

.delete-button {
	background-color: var(--color-red);
}

.delete-button:hover {
	background-color: var(--color-red-dark);
}

/* popup message */
.message {
	margin-top: 10px;
	font-weight: bold;
}


/* reviews */
form, #review, #comments, #change-review {
    background-color: var(--color-green-light);
    padding: .5em;
    border-radius: 10px;
}

 #review, #comments, #change-review {
	margin: 1em;
 }

#filter-reviews {
	width: 500px;
	height: 450px;
}

#create-review {
	width: 500px;
	height: 850px;
}

.reviews, #search-section {
	display: flex;
	gap: 1em;
	align-items: flex-start;
}

#create-section {
	flex: 1;
}

#click-changes-button, #delete-review {
    display: inline-block;
    margin: 0;
}

#cancel-changes-button {
	margin: .5em;
}

select, form select, form input, form textarea {
    border-radius: 10px;
    background-color: var(--color-green);
    color: white;
	margin-top: .5em;
	padding: .5em;
    border: none;
}

input::placeholder, textarea::placeholder {
	color: rgba(2, 69, 6, 0.844);
}

form select, form input {
	width: 50%;
}

textarea {
	resize: none;
}

input, textarea, select {
	cursor: pointer;
}

form input[type="submit"] {
	width: 30%;
}

input[type="submit"]:hover {
    background-color: var(--color-green-dark);
}

select option:checked {
	background-color: var(--color-green-link);
}

.numbers {
	width: 20%;
}

.stars {
	direction: rtl;
	display: inline-block;
	font-size: 2em;
}

.stars input[type="radio"] {
	display: none;
}

.stars label {
	color: var(--color-green);
	transition: color 0.2s;
}

/* make current hovered one yellow, stars before it yellow, and maintain yellow once clicked */
.stars label:hover, .stars label:hover ~ label, .stars input[type="radio"]:checked ~ label {
	color: #ffd84d;
}